[Unit]
Description=Node Exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/node_exporter
ExecStart=/usr/local/bin/node_exporter $OPTS
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target